*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 160px;
    background-color: rgba(227, 244, 128, 0.849);
    text-align: center;
}

.h1{
    color: rgba(250, 34, 211, 0.98);
    margin: 1 auto;
    text-align: center;
    font-weight: 200;
    font: italic bold 40px Georgia, Serif;
    text-shadow: -4px 3px 0 #e98ccbbe, -14px 7px 0 #3b0327;
}


.saludo{
    text-align: center;
    font-weight: 20;
    font: italic bold 30px Georgia, Serif;
    color: rgba(110, 6, 91, 0.98);

}


main{
    display: flex;
    width: 100%;
    height: 530px;
    background-color: rgba(145, 183, 201, 0.712);
    justify-content: space-around;
}

.seccion1{
    width: 70%;
    background-color: rgb(145, 199, 238);
}

.anuncio{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    margin-top: 15px;
}


.texto{
    width: 100%;
    height: 400px;
    resize: none;
    background-color: rgba(229, 131, 211, 0.52);
    border-color: rgba(229, 131, 211, 0.52);
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lucida Sans';
    font-size: 30px;
    text-align: center;
    margin: auto;   
    display: block;
}

.aviso{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.encriptar, .desencriptar, .copiar{
    width: 50%;
    height: 30px;
    border-color: rgb(251, 167, 222);
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(251, 167, 222);
    margin: auto;
    display: flow-root;
}

.seccion2{
    width: 25%;
    height: 450px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgba(145, 183, 201, 0.712);
    box-sizing: border-box;
    overflow: hidden;
}

.contenedor-resultado{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans';
    font-optical-sizing:  revert-layer;
    resize: none;
}

.mensaje{
    width: 80%;
    height: 380px;
    resize: none;
    display: block; 
    padding-left: 20px;
    margin: auto;
    background-color: rgba(145, 183, 201, 0.712);
    border-color:  rgba(145, 183, 201, 0.712);
    border-radius: 20px;
    font-size: 25px;
    margin-top: auto;
    text-align: center;
}


footer{
    width: 100%;
    height: 60px;
    background-color: rgba(227, 244, 128, 0.849);
    display: block;
    
}

.autor{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: Verdana;
    display: block;
}


